{% extends 'core/base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col center">
          <button type="button" class="btn btn-outline-secondary" onclick="rewindDate('prev',1)">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="16"
                   height="16"
                   fill="currentColor"
                   class="bi bi-chevron-left"
                   viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
          </button>
      </div>
      <div class="col center"><h4>Расписание на {{day}}</h4></div>
      <div class="col center">
          <button type="button" class="btn btn-outline-secondary left" onclick="rewindDate('next',1)">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-chevron-right"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
      </div>
  </div>
  <table class="table table-bordered table-striped mt-3">
      <tr><th class="width-number">№</th><th class="width-time">Время</th><th class="width-lesson">Урок</th><th>Домашнее задание</th></tr>
      {% for lesson in timetable %}
      <div class=" name-output">
      <tr>
        <td>{{lesson.number}}</td><td>{{lesson.time}}</td><td>{{lesson.title}}</td><td>{{lesson.homework}}</td>
      </tr>
      </div>
      {% endfor %}
  </table>
</div>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
