.jumbotron {
  border-radius: 0;
  background-color: #cce5ff;
  padding: 0px;
}

.font-size-lg{
    font-size: large;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid ;
    border-radius: 6px;
    appearance: none;
}

.btn-block{
    display: block;
    text-align: center;
}

.btn-primary{
    color: rgb(225, 225, 225);
    background-color: rgb(46,164, 79);
    border-color: rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1), rgba(225, 225, 225, 0.03);
}

.btn-primary:hover{
    color: rgb(225, 225, 225);
    border-color: rgba(27, 31, 35, 0.15);
    background-color: rgb(44 151 75);
    box-shadow: 0 1px 0 rgba(20, 70, 32, 0.2);
}

.w-30{
    width: 30%
}

.mt-50{
    margin-top: 50px;
}

.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: rgb(246 248 250);
    border: 1px solid rgb(234 236 239);
    border-radius: 6px 6px 6px 6px;
}

.mt-3{
    margin-top: 16px !important;
}

.color-mg{
    border-color: rgba(158,28,35,0.2);
}

.width-20{
    width: 20px;
}

.width-120{
    width: 120px;
}

.width-230{
    width: 230px;
}

h2{
  color:white
  margin-top: 2px;
}

.active{

}

body {
  background: white;
}


.col-sm{
}

.nav-link{
    color:yellow;
}

.container-fluid{

}

.grade-hw{
    color: blue;
}

.grade-ct{
    color: red;
}

.grade-t{
    color: orange;
}

.grade-cw{
    color: green;
}

