.width-number{
    width: 30px;
}

.width-time{
    width: 120px;
}

.width-class{
    width: 20px;
}

.width-lesson{
    width: 230px;
}

.width-homework{
    width: 300px;
}

.width-comment{
    width: 300px;
}